*.pyc
__pycache__
*/__pycache__
*.bak

logs
private
go-cqhttp
config

dev_plan.todo
templates/code.py
templates/weather.py
templates/translate.py
templates/summon.py
templates/usage.py
templates/sese.py
