*.pyc
__pycache__
*/__pycache__
*.bak

logs
private
go-cqhttp

templates/py.py
templates/cpp.py
templates/weather.py
templates/translate.py
templates/summon.py
templates/usage.py
templates/sese.py

config/botConfig.toml
