__pycache__
*/__pycache__
*.bak

docs
.pytest_cache

bot/logs
bot/config
bot/templates/code.py
bot/templates/weather.py
bot/templates/translate.py
bot/templates/summon.py
bot/templates/matlab.py
bot/templates/s_test.py
