[project]
name = "melobot"
version = "2.5.10"
description = "A qq bot development framework with friendly APIs, session control and plugin-supported."
authors = [
    {name = "aicorein", email = "melodyecho@glowmem.com"},
]
dependencies = [
    "coloredlogs>=15.0.1",
    "uvloop>=0.17.0; platform_system==\"Linux\"",
    "websockets>=10.4",
    "better-exceptions==0.3.3",
    "rich>=13.7.1",
    "typing-extensions>=4.10.0",
    "aiohttp>=3.9.3",
]
requires-python = ">=3.10"
readme = "README.md"
license = {text = "AGPL3"}

[project.urls]
Homepage = "https://github.com/aicorein/melobot"

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.mypy]
follow_imports = "skip"
ignore_missing_imports = true
show_column_numbers = true
check_untyped_defs = true

[tool.black]  
line-length = 88

[tool.isort]  
profile = "black"
line_length = 88

[tool.pdm]
distribution = true
[tool.pdm.scripts]
isort = {shell = "isort src/melobot"}
format = {shell = "black src/melobot"}
check = {shell = "flake8 src/melobot"}
analyse = {shell = "mypy src/melobot"}
deps = {shell = "pydeps src/melobot -o pydeps.png -T png --only melobot --rankdir BT --max-module-depth 2 --start-color 160"}
docs = {call = "docs.make:main"}
live-docs = {shell = "sphinx-autobuild -c docs/source docs docs/build/html"}

[tool.pdm.dev-dependencies]
test = [
    "pytest>=8.1.1",
    "viztracer>=0.16.2",
]
docs = [
    "sphinx>=7.2.6",
    "furo>=2024.1.29",
    "myst-parser>=2.0.0",
    "sphinx-autobuild>=2024.2.4",
    "sphinx-copybutton>=0.5.2",
]
lint = [
    "black>=24.2.0",
    "pydeps>=1.12.19",
    "isort>=5.13.2",
    "flake8>=7.0.0",
]
analyse = [
    "mypy>=1.9.0",
]
