[project]
name = "melobot"
version = "2.5.0"
description = "A qbot module with friendly interface, session control and plugin-supported."
authors = [
    {name = "aicorein", email = "melodyecho@glowmem.com"},
]
dependencies = [
    "coloredlogs>=15.0.1",
    "toml>=0.10.2",
    "uvloop>=0.17.0; platform_system==\"Linux\"",
    "websockets>=10.4",
    "better-exceptions==0.3.3",
    "rich>=13.7.1",
]
requires-python = ">=3.10"
readme = "README.md"
license = {text = "AGPL3"}

[tool.pdm]
distribution = true
[tool.pdm.scripts]
format = {shell = "black src/melobot"}
check = {shell = "flake8 src/melobot"}
deps = {shell = "pydeps src/melobot -o pydeps.png -T png --only melobot --rankdir BT --max-module-depth 2 --start-color 160"}
docs = {call = "docs.make:main"}

[tool.pdm.dev-dependencies]
test = [
    "pytest>=8.1.1",
]
docs = [
    "sphinx>=7.2.6",
    "furo>=2024.1.29",
    "myst-parser>=2.0.0",
]
lint = [
    "black>=24.2.0",
    "flake8>=7.0.0",
    "pydeps>=1.12.19",
]
[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

