sphinx>=7.2.6
furo>=2024.1.29
myst-parser>=2.0.0
sphinx-copybutton>=0.5.2

uvloop>=0.17.0; platform_system!="Windows"
winloop>=0.1.2; platform_system=="Windows"
websockets>=10.4
better-exceptions==0.3.3
rich>=13.7.1
typing-extensions>=4.10.0
aiohttp>=3.9.3
colorlog>=6.8.2
