on:
  release:
    types: [published]


jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.9"

      - name: Publish to PyPI
        run: uv publish
